<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %> 

<body id="index-body">
	<%- include("partials/header.ejs") %> 
	<div class="content-wrapper show flex-cntr col">
		<div class="game-cntr-show flex-cntr">
			<div class="img-cntr">
				<a href="/games/<%= game._id %>"><img src="<%= game.img %>" alt="Image of <%= game.name %>"></a>
			</div>
			<div class="text-cntr-show flex-cntr col">
				<div class="name-cntr"><h1><%= game.name %> </h1></div>
				<div class="desc-cntr"><%= game.desc %> </div>
				<div class="price-cntr">Price: <%= game.price %> </div>
				<div class="qty-cntr">Quantity: <%= game.qty %> </div>
				<div class="tag-cntr">Tags: <%= game.tags %> </div>
			</div>
		</div>
		<div class="purchaser flex-cntr" >
			<form action="/games" method="PUT" class="flex-cntr col">
				<div class="buy-btn-cntr flex-cntr" >
					<input type="hidden" name="gameQty" value="<%= game.qty %>" />
					<button type="button" class="minus-btn">-</button>
					<input name="qty" value="0" class="qty-counter" type="number" style="-webkit-appearance: none; -moz-appearance: textfield;" />
					<button type="button" class="add-btn">+</button>
				</div>
				<% if (game.qty === 0) { %>
					<button class="buy-button" type="submit" style="background-color: red;color: black;" disabled>OUT OF STOCK</button>
				<% } else { %>
					<button class="buy-button" type="submit" >Purchase</button>
				<% } %>
			</form>
		</div>
		<div class="routes-button-cntr flex-cntr">
			<a href="/games/<%= game._id %>/edit"><button>Update this product</button></a>
			<form action="/games" >
				<button type="submit">Delete this product</button>
			</form>
		</div>
	</div>
</body>
</html>